include head.pug

.container.container-border-16.overflow-hidden
  .row.row-cols-1.row-cols-sm-2.h-100
    .col.col-sm-4.vh-100.border-end.border-gray.p-0.left-area.overflow-auto.scroll
      .d-none.d-sm-flex.sticky-top
        include header.pug
      include left_area.pug
      .d-flex.d-sm-none.fixed-bottom
        include header.pug
          
    .col.col-sm-8.vh-100.d-none.d-sm-flex.flex-column.overflow-auto.scroll
      include right_area_chat.pug
