.d-flex.flex-row.w-100.mb-5.py-3.border-bottom.border-gray
  .d-flex.my-1.align-items-center
    img.img-h-50.ps-3.pe-4.rounded-circle(src='images/avatar_4.jpg', alt="аватар") 
  .d-flex.flex-column.justify-content-center
    h6.m-0.fw-bold.text-dark Вениамин Редакторович
    small.text-muted Онлайн
