form.chat-form.d-flex.justify-content-between.border-top.border-grey.bg-white.px-4.mb-5.mx-5
  input.shadow-none.input-form.form-control.text-secondary.ps-4.pb-3.mt-3(
    type="text"
    placeholder= "Напишите сообщение...")
  img.rounded-circle.img-h-50.bg-primary.p-2.my-4(src="images/icons/cursor.svg", alt="курсор")
