form.chat-form.d-flex.justify-content-between.border-top.border-grey.bg-white.p-3
  input.shadow-none.input-form.form-control.text-secondary.ps-4.pb-3.mt-3(
    type="text"
    placeholder= "Напишите сообщение...")
  img.rounded-circle.img-h-50.bg-primary.p-2(src="images/icons/cursor.svg", alt="курсор")
