.d-flex.flex-row.w-100.me-4.pt-5.pb-3.border-bottom.border-gray
  .d-flex.align-items-center
    img.img-h-50.ps-3.pe-4.rounded-circle(src='images/avatar_4.jpg', alt="аватар") 
  .div
    h6.fw-bold.text-dark "Вениамин Редакторович"
    small.text-muted "Онлайн"
