.col.ps-4.py-4.d-flex.bg-primary.text-light
  .pe-5
    img.img-h-25(src="../src/images/icons/logo.svg", alt="logo-hexlet")
  .nav
    img(src="../src/images/icons/people.svg", alt="logo-hexlet")
    a(href="#contacts-tab", data-bs-toggle="tab", data-bs-target="#contacts-tab").nav-link
      small.text-light Контакты
    img(src="../src/images/icons/chat.svg", alt="logo-hexlet")
    a(href="#messages-tab", data-bs-toggle="tab", data-bs-target="#messages-tab").nav-link
      small.text-light Сообщения
    img(src="../src/images/icons/person.svg", alt="logo-hexlet")
    a(href="#profile-tab", data-bs-toggle="tab", data-bs-target="#profile-tab").nav-link
      small.text-light Профиль
