.col.ps-4.py-4.d-flex.align-items-center.bg-primary.text-light
  .pe-5
    img.fill-light.img-h-25(src="../src/images/icons/logo.svg", alt="logo-hexlet")
  .nav
    a.d-flex.align-items-center(href="#contacts-tab", data-bs-toggle="tab", data-bs-target="#contacts-tab")
      .text-light
        include ../images/icons/people.svg
        small.text-light.ms-2 Контакты
    a(href="#messages-tab", data-bs-toggle="tab", data-bs-target="#messages-tab").nav-link.d-flex.align-items-center
      include ../images/icons/chat.svg
      small.text-light.ms-2 Сообщения
    a(href="#profile-tab", data-bs-toggle="tab", data-bs-target="#profile-tab").nav-link.d-flex.align-items-center
      include ../images/icons/person.svg
      small.text-light.ms-2 Профиль
