.tab-content.py-5.ps-4.m-100
  #contacts.tab-pane.fade.show.active
    include contacts.pug
  #chats.tab-pane.fade
    include messages.pug
  #profile.tab-pane.fade
    include profile.pug
  #chat.tab-pane.fade.d-sm-none
    .sticky-top.bg-white
      include chat_header.pug 
    include right_area_chat.pug
