.tab-content.ps-4.py-5.m-150
  #contacts.tab-pane.fade.show.active
    include contacts.pug
  #chats.tab-pane.fade
    include messages.pug
  #profile.tab-pane.fade
    include profile.pug
  #chat.tab-pane.fade.d-sm-none
    .sticky-top.bg-white
      include chat_header.pug 
    include right_area_chat.pug
