.px-4.py-5.tab-content
  #contacts.tab-pane.fade.show.active
    include contacts.pug
  #chats.tab-pane.fade
    include messages.pug
  #profile.tab-pane.fade
    include profile.pug
  #chat.d-sm-none.tab-pane.fade
    include right_area_chat.pug
