-
  var messages = [
    {
      name: "Вениамин Редакторович",
      text: "o_O",
      time: "11:45",
    },

    {
      name: "Джедай Падаванов",
      text: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      time: "10:12",
    },

    {
      name: "Алексей Примадонин",
      text: "Тесты упали >_<",
      time: "08:53",
    },
  ]

include mixins.pug
+search("Чаты", "поиск по сообщениям")  
          
div
  each message in messages
    .message.mt-4.d-flex.shadow-sm
      a(href="#").d-flex.pb-3.pe-4.pt-3.ps-3.w-100
        +getAvatar(message.name, "d-inline-block avatar img-h-50 rounded-circle")
        .d-flex.flex-column.flex-grow-1.overflow-hidden.ps-4
          h6.fw-bold.text-dark= message.name
          small.message-text.text-muted.text-truncate= message.text
        small.text-muted= message.time
  
