-
  var messages = [
    {
      name: "Вениамин Редакторович",
      text: "o_O",
      time: "11:45",
    },

    {
      name: "Джедай Падаванов",
      text: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      time: "10:12",
    },

    {
      name: "Алексей Примадонин",
      text: "Тесты упали >_<",
      time: "08:53",
    },
  ]

include mixins.pug
+search("Чаты", "Поиск по сообщениям")  
          
.pt-1
  each message in messages
    .message.d-flex.shadow-sm.mb-3
      a(href="#").d-flex.py-0.pe-4.ps-3.w-100.align-items-center
        +getAvatar(message.name, "d-inline-block avatar img-h-50 rounded-circle")
        .d-flex.flex-column.flex-grow-1.overflow-hidden.ps-4.py-4
          .d-flex.justify-content-between.me-2.pe-1
            h6.fw-bold.m-0.text-dark= message.name
            small.text-muted= message.time
          small.message-text.text-muted.text-truncate= message.text
          
  
