mixin search(searchHeader, searchPlaceholder)
  .border-bottom.border-gray.me-4
    h2.fw-bold.text-dark.pt-4.pb-3= searchHeader
    form
      input.shadow-none.input-form.form-control.text-secondary.ps-4.pb-3.mb-0(
        type="text"
        placeholder= searchPlaceholder)
