-
  var users = [
    {
      name: "Кодовёнок Хекслетович",
      avatar: "avatar_1.jpg"
    },  
    {
      name: "Джедай Падаванов",
      avatar: "avatar_2.jpg"
    },
    {
      name: "Алексей Примадонин",
      avatar: "avatar_3.jpg"
    },
    {
      name: "Вениамин Редакторович",
      avatar: "avatar_4.jpg"
    },
    {
      name: "Королева Верстальщина",
      avatar: "avatar_5.jpg"
    },
    {
      name: "Питонист Джангович",
      avatar: "avatar_6.jpg"
    },
  ]


mixin search(searchHeader, searchPlaceholder)
  .border-bottom.me-4
    h2.fw-bold.text-dark.mb-4= searchHeader
    form
      input.shadow-none.input-form.form-control.text-secondary.ps-4.pb-3.mb-0.mt-3.lineHeight-80(
        type="text"
        placeholder= searchPlaceholder)

mixin getAvatar(name, classes)
  each user in users
    if name==user.name
      -let avatar= "img class='" + classes +"'"+ " src='images/" + user.avatar+"'"+"alt='"+name+" аватар'"
      #{avatar}
      
     
