-
  var profile = [
    {
      name: "Страна",
      text: "Москва, Россия",
      image: "globe.svg"
    },
    
    {
      name: "Телефон",
      text: "+7 (499) 123-45-67",
      image: "telefono.svg"
    },
    
    {
      name: "Email",
      text: "nikita.m@hexlet.io",
      image: "mail.svg"
    },
    
    {
      name: "Twitter",
      text: "@n__mikhaylov",
      image: "people.svg"
    },
  ]

include mixins.pug
+search("Профиль", "поиск по собщениям")

.card.text-center.pe-5.mb-5
  img.card-img-top.rounded-circle.img-h-90.mt-5.mb-3(src="../src/images/avatar_1.jpg", alt="profile-avatar")
  .card-body
    h6.fw-bold.card-title.mb-3 Кодовёнок Хекслетович
    small.card-text.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript

.list-group.list-group-flush.pe-5.pt-5
  each item in profile
    .list-group-item.d-flex.justify-content-between
      .d-flex.flex-column
        small.text-muted.text-dark= item.name
        small= item.text
      img.img-w-16(src='../src/images/icons/' + item.image, alt=item.name + " icon")

  
