$custom-xxl: ("xxl": 1600px)
$grid-breakpoints: map-merge($grid-breakpoints, $custom-xxl)

$custom-xxl-max-width: ("xxl": 1540px)
$container-max-widths: map-merge($container-max-widths, $custom-xxl-max-width)

$enable-shadows: true
